<div class="text-center">
  <h1 class="mb-4">We Love FOOTBALL<i class="fas fa-futbol"></i></h1>
  <p class="mb-4">サッカーを戦術的に観てみませんか？</p>
  <%= link_to '会員登録!', signup_path, class: 'btn btn-lg btn-primary' %>
</div>