<div class="text-center">
  <h1 class="mb-4">We Love FOOTBALL<i class="fas fa-futbol"></i></h1>
  <p class="mb-4">サッカーを戦術的に観てみませんか？</p>
</div>
<% if logged_in? %>
  <div class="text-center">
    <%= link_to 'ログアウト', logout_path, method: :delete, class: 'btn btn-lg btn-danger' %>
  </div>
<% else %> 
  <div class="row justify-content-around">
    <div class="col-3"></div>
    <%= link_to '会員登録！', signup_path, class: 'col-2 btn btn-primary btn-sm' %>
    <%= link_to 'ログイン！', login_path, class: 'offset-2 col-2 btn  btn-primary btn-sm ' %>
    <div class="col-3"></div>
  </div>
<% end %>
